# Ignore compiled files.
*.pyc
*__pycache__

# Ignore virtual environment.
.venv

# Ignore macOS and other system or tool files.
*.DS_Store
*.BBEditPreviewTemp.*

# Ignore build files
build
dist
lerpy.egg-info
