[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"

[dev-packages]
pycodestyle = "*"
mypy = "*"
rstcheck = "*"
opencv-python = "*"
pytest = "*"
imgwriter = {file = "../imgwriter"}
tox = "*"
isort = "*"

[requires]
python_version = "3.9"
