[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"

[dev-packages]
pycodestyle = "*"
mypy = "*"
rstcheck = "*"
opencv-python = "*"
pytest = "*"
tox = "*"
isort = "*"
sphinx = "*"
furo = "*"
build = "*"
lerpy = {file = ".", editable = true}
imgwriter = {file = "../imgwriter"}

[requires]
python_version = "3.9"
